@import "tailwindcss";

body {
  background: black !important;
  color: white !important;
  font-family: var('--font-geist-mono');
}

.secondaryFont {
  font-family: var('--font-geist-sans');
}

.poppins {
  font-family: var('--font-poppins');
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}
.scrollbar-hide {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}


.custom-alert-btn {
  padding: 8px 16px  !important; /* Equivalent to px-4 py-2 */
  background: linear-gradient(to right, #53e1e8, white) !important;
  color: black !important;
  font-weight: 600 !important; /* Equivalent to font-semibold */
  border-radius: 8px !important; /* Equivalent to rounded-lg */
  border: 2px solid #1d1e24 !important; /* Equivalent to border-2 border-[#1d1e24] */
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}


.custom-alert{
  border : 2px solid #53e1e8;
  border-radius: 8px;
  background-color: #141414;
  color : 'black';
}

.cursive-font{
  font-family: var(--font-cursive);
}

.poppins-font{
  font-family: var(--font-poppins);
}

pre {
  @apply bg-[#1d1e24] text-white p-4 rounded-lg overflow-x-auto;
}

h2 {
  @apply text-xl my-2 font-bold font-mono;
}

ul {
  @apply list-disc ml-10;
}

ol {
  @apply list-decimal ml-10;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mid {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.animate-spin1 {
  animation: spin 1.5s linear infinite 0.1s;
}
.animate-spin2 {
  animation: spin 1.5s linear infinite 0.2s;
}
.animate-spin3 {
  animation: spin 1.5s linear infinite 0.3s;
}
.animate-spin4 {
  animation: spin 1.5s linear infinite 0.4s;
}
.animate-mid {
  animation: mid 1s linear infinite;
}
